{% extends "index.html.twig" %}
{% block title %} Liste des articles - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Liste des Users</h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mail</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Rôle</th>
            </tr>
            </thead>
            <tbody>
            {% for user in listUser %}
                <tr>
                    <th scope="row"><a href="/User/Show/{{ user.id_uti }}">#{{ user.id_uti }}</a></th>
                    <td>{{ user.uti_mail }}</td>
                    <td>{{ user.uti_nom }}</td>
                    <td>{{ user.uti_prenom }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-success" href="/User/Show/{{ user.id_uti }}"><i class="far fa-eye"></i></a>
                            <a class="btn btn-warning" href="/User/Update/{{ user.id_uti }}"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" href="/User/Delete/{{ user.id_uti }}"><i class="far fa-trash-alt"></i></a>
                        </div>
                        <a class="btn btn-secondary" href="/User/WriteOne/{{ user.id_uti }}"><i class="fas fa-file-download"></i></a>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}