{% extends "index.html.twig" %}
{% block title %} Liste des articles - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Liste des Users</h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mail</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Rôle</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for user in userList %}
                <tr>
                    <th scope="row"><a href="/User/Show/{{ user.IdUti }}">#{{ user.IdUti }}</a></th>
                    <td>{{ user.utimail }}</td>
                    <td>{{ user.utinom }}</td>
                    <td>{{ user.utiprenom }}</td>
                    <td>{{ user.utirole }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-success" href="/User/Show/{{ user.IdUti }}"><i class="far fa-eye"></i></a>
                            <a class="btn btn-warning" href="/User/Update/{{ user.IdUti }}"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" href="/User/Delete/{{ user.IdUti }}"><i class="far fa-trash-alt"></i></a>
                        </div>


                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}