{% extends "index.html.twig" %}
{% block title %}Validation d'User{% endblock %}

{% block body %}

    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Auteur</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in ListUser %}

        <tr>
            <th scope="row"><a href="/User/Show/{{ user.IdUti }}">#{{ user.IdUti }}</a></th>
            <td>{{ user.utimail}}</td>
            <td>{{ user.utinom }}</td>
            <td>{{ user.utirole }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-success" href="/User/Show/{{ user.IdUti }}"><i class="far fa-eye"></i></a>
                    <a class="btn btn-success" href="/User/Val/{{ user.IdUti }}"><i class="fas fa-check-circle"></i></a>
                </div>
            </td>
        </tr>

    {% endfor %}
    </tbody>

{% endblock %}