{% extends "index.html.twig" %}
{% block title %} Liste des User - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Liste des Users</h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mail</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Rôle</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            <tbody>

                    <th scope="row"><a href="/User/Show/{{ user.IdUti }}">#{{ user.IdUti }}</a></th>
                    <td>{{ user.utimail }}</td>
                    <td>{{ user.utinom }}</td>
                    <td>{{ user.utiprenom }}</td>
                    <td>{{ user.utirole }}</td>

            </tbody>
        </table>
    </div>


{% endblock %}